# Default to NPM Registry
registry=http://registry.npmjs.org/

# Red Ventures Artifactory
@redventures:registry=https://redventures.jfrog.io/redventures/api/npm/npm-rvapps-general/
//redventures.jfrog.io/redventures/api/npm/npm-rvapps-general/:_authToken=${NPM_CONFIG_TOKEN}
//redventures.jfrog.io/redventures/api/npm/npm-rvapps-general/:always-auth=true